.active{
    background-color: #5d677c !important;
    color: white;
}
.border-red-outline{
    outline: solid red;
}
[class|="btn"]:disabled{
    opacity:0.75;
}
.btn-apply{
    border: solid 1px darkgreen;
    font-weight: bold;
    cursor: default;
    
    line-height: 23px;
    font-family: Arial;
    background-color: #96b300;
    text-align: center;
} 
.btn-apply,
.btn-warning{
    height: 27px;
    position: absolute;
    right: 9px;
    top: 8px;
    width: 28px;
    z-index: 1;
}
.btn-remove-translated{
    background: rgb(250, 220, 225);
    border: solid 2px #555;
    border-radius: 50%;
    color: #555;
    font-size: 30px;
    float: left;
    margin: 12.5px auto auto -32px;
    position: relative;
    transform: rotate(45deg);
    height: 27px;
    width: 27px;
}
.btn-remove-translated::before{
    content: "+";
    position:absolute;
    transform: translate(-50%,-50%);
}
.btn-warning{
    background-image: url(../images/btn-warning.png);
    background-color: transparent;
    background-position: 4px 4px;
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
}
.btn-add{
    background-color: rgb(61, 215, 190);
    font-size: 22px;
    height: 27px;
    width: 27px;
}
.btn-cancel{
    transform: translateY(2px);    
}
.btn-cancel,
.btn-edit{
    font-size: 20px;
    height: 27px;
    width: 27px;    
}
.btn-cancel,
.btn-edit {
    background-color: transparent;
    border: navajowhite;
}
.btn-cancel,
.btn-remove{
    position: relative;
}
.btn-remove::before,
.btn-cancel::before{
    position: absolute;
}
.btn-cancel::before{
    content: '+';
    display: inline-block;
    font-size: 34px;
    left: 2.75px;
    line-height: 0.6;
    top: 3.72px;
    transform: rotate(45deg);
}
.btn-remove::before{
    content: '🚮';
    left: 50%;
    top: -0.5px;
    transform: translate(-50%);
}
.btn-edit{
    border-color: #95a08e;
    background-color: rgb(230, 245, 251);
    border: solid 1px #999;
}
.btn-edit::before{
    content: '🖉';
    display: inline-block;
    margin: -4px 4px auto -4px;
}
.input-attach.translated{
    width: calc(100% - 42px) !important;
}
.repeated{
    background: rgb(255, 180, 180) !important;
}
.word{
    clear: both;
    float: left;
    padding: 2px 0 0;
    /* margin-top: -1px; */
    position: relative;
}
.word-red{
    color: orange;
    border: solid orange !important;
}