.active{
    background-color: #5d677c !important;
    color: white;
    /* padding: 4px 8px 5px 8px !important; */
    /* margin: 0 -4px -1px -4px; */
}
.btn-add{
    background-color: rgb(61, 215, 190);
    font-size: 22px;
    height: 27px;
    width: 27px;
}
.btn-edit{
    border: solid 1px #95a08e;
    background-color: rgb(230, 245, 251);
    font-size: 20px;
    height: 27px;
    width: 27px;
}
.btn-edit::before{
    content: '🖉';
    display: inline-block;
    margin: -4px 4px auto -4px;
}
.word{
    clear: both;
    float: left;
    padding: 2px 0 0;
    margin-top: -1px;
    position: relative;
}