#addWord{
    font-weight: bold;
    height: 50px;
    margin-top: 10px;
    padding: 6px 22px;
    transform: translateY(-2px);
}

#addWordForm textarea{
color: rebeccapurple;
display: block;
min-height: 80px;
}

#btn-save{
    background-color: rgb(190, 215, 61);
    border: solid 1px transparent;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 10px;
    padding: 12px 20px;
}
#sentences-translated{
    background-color: white;
    box-shadow: 0 0 24px rgba(0,0,0,0.5);
    outline: solid 2px #ddd;
    min-height: 80px;
    margin-bottom: 10px;
}

#sentences-translated.initial:before{
    color: #aaa;
    content: 'Start writting word in the field below the language choice';
    display: block;
    font-size: 20px;
    padding: 16px;
}

#view {
    float: left;
    background: #cebbd0;
    font-size: 1.1em;
    margin-top: 20px;
    padding: 4px;
}

#word {
    display: block;
    color: blue;
    font-weight: bold;
}