#addWord{
    font-weight: bold;
    height: 50px;
    margin-top: 10px;
    padding: 6px 22px;
    transform: translateY(-2px);
}

#addWordForm textarea{
    color: rebeccapurple;
    display: block;
    min-height: 80px;
    padding-right: 42px;
}

#main{
    float: left;
}

#new-word-sentences {
    max-width: 400px;
    position:relative;
}

#new-word-sentences .add-textarea{
 bottom: 40px;
 border: none;
 font-size: 20px;
 font-weight: bold;
 height: 32px;
 position:absolute;
 right: 8px;
 width: 32px;
}
.add-textarea,
#btn-save,
#btn-save-xtra,
.btn-attach{
    background-color: rgb(190, 215, 61);
}
#btn-save,
#btn-save-xtra,
.btn-attach{
    border: solid 1px transparent;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 10px;
    padding: 12px 20px;
}

#chooseLanguage > h4{
    transform: translateY(-6px);
}

#chooseLanguage select{
    background: #eee;
    box-shadow: 0 -8px 28px rgba(200,200,200,1) inset;
    border-radius: 4px;
    color: brown;
    padding: 8px 8px 8px 4px;
    border: 0;
    font-weight: 700;
}
#forms{
    margin-top: 140px;
    
}
@media screen and (min-width: 338px){
    #forms{
        margin-top: 114px;
    }
}

@media screen and (min-width: 580px){
    #forms{
        margin-top: 94px;
    }
}

#input-attach{
    border-color: rgba(100,100,100,0.8);
    border-width: 2px;
    /* display: block; */
    clear: both;
    float: left;
    font-size: 18px;
    margin: 8px auto 0 5px;
    min-height: auto;
    min-width: auto;
    padding: 6px;
    width: calc(100% - 8px);
}

#input-attach +.btn-attach{
    float: left;
}

#page{
    position: relative;
}

#sentences-translated{
    background-color: white;
    box-shadow: 0 0 24px rgba(0,0,0,0.5);
    outline: solid 2px #ddd;
    overflow: auto;
    min-height: 60px;
    max-height: 150px;
    margin-bottom: 10px;
    position: absolute;
    width: calc(100% - 40px);
}

#sentences-translated.initial:before{
    color: #aaa;
    content: 'Start writting word in the field below the language choice';
    display: block;
    font-size: 20px;
    padding: 16px;
}

#view {
    float: left;
    /* background: rgb(217, 217, 217); */
    font-size: 1.1em;
    margin-top: 20px;
    padding: 4px;
}

#word {
    display: block;
    color: blue;
    font-weight: bold;
}