.active .btn-cancel{
    color: red;
}
form label{
    display: inline-block;
    margin: 12px auto;
}

main > div {
    padding: 20px;
}

#page > h2{
    background: url(../images/language-logo.jpg) no-repeat;
    background-size: contain;
    display: flex;
    font-size: 16px;
    height: 48px;
    margin: 0 0 20px;
    padding-left: 70px;
}

@media screen and (min-width: 440px) and (max-width: 767px){
    #page > h2{
        font-size: 3.145vw;
    }
}

@media screen and (min-width: 768px){
    #page > h2{
        font-size: 24px;
    }
}

#page > h2 >span{
    color: rebeccapurple;
    margin-bottom:auto;
    margin-top:auto;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
#pop-up aside{
    position: absolute;
    right: 3px;
}
.word.active section > .wrapper:hover{
    background-color: #000;
}

section > .wrapper{
    background: rgb(130,140,140);
    /* box-shadow: 4px 4px 10px rgba(0,0,0,0.7); */
    color: white;
    padding: 11px 14px 12.2px 10px;
}

#sentences-translated .wrapper{
    display: none;
    padding: 10px;
}
.word > section{
    display: none;
    left: calc(100% - 10px);
    padding-left: 10px;
    position: absolute;
    top: 0;
}

.word > section{
    white-space: nowrap;
}

.word.active > section {
    display: block;
    /* transform: translateY(-3px); */
}

#view > .word{
    background-color: #dad8d8;
    display: block;
    min-width: 200px;
    padding: 8px 4px 9px;
    position: relative;
    width: 60%;
}

#view .input-attach{
    border-color: rgba(100,100,100,0.8);
    border-width: 2px;
    display: block;
    clear: both;
    float: left;
    font-size: 18px;
    margin: 8px auto 0 0;
    min-height: auto;
    min-width: auto;
    padding: 6px;
    width: calc(100% - 8px);
}

#view .input-attach +.input-attach{
    background-color: rgb(252, 248, 237);
    border-color: #c093b0;
}

.wrapper > span{
    display: block;
}

