*{
    box-sizing: border-box;
}

body, html{
    margin:0;
    padding:0;
}

h1, h2, h3, h4, h5{
    font-family: Roboto, Arial, Helvetica, Tahoma, sans-serif;
}

main > div {
    max-width: 480px;
    background-color: lightblue;
    padding: 5%;
}

main > div > input {
    max-width: 400px;
    height: 10px;
    padding: 2px;
}
form > input {
    font-size: 14px;
}
form > span {
    font-size: 19px;
}
.wrapper{
    background: rgb(255,255,180);
    margin-left: 10px;
    padding: 10px;
}

.word{
    clear: both;
    float: left;
    padding: 2px 0 0;
    margin-top: -1px;
    position: relative;
}
#view > .word{
    padding: 4px;
}
#view > .word.active{ 
    background-color:azure;
    font-size: 20px;
}

#addWord{
    margin-top: 7px;
    padding: 5px;
}

.word > section,
.sentence {
    display: none;
    left: calc(100% - 10px);
    padding-left: 10px;
    position: absolute;
    top: 0;
}

.sentence{
    margin-top: 2px;
    padding-left: 1px;
}

.sentence > .wrapper{
    background-color: #eee;
}

.word > section{
    white-space: nowrap;
}

.word.active > section,
.word:hover > .wrapper > .sentence {
    display: block;
}

#page{
    float: left;
}

#word {
    width: 100%;
}

#view {
    margin-top: 10px;
}

#view p {
    font-size: 19px;
    border: 1px solid;
    padding: 2px;
}

#addWordForm > div > * {
    font-size: 18px;
    margin: 2%;
    display: block;
}

#addWordForm > div > input {
    padding: 3px;
}

#addWord {
    padding: 6px;
    font-size: 15px;
}